Config( // optional struct name
    valueInt: 42, 
    valueFloat: 3.14,
    valueString: "TestString",
    valueVector3: (1, 2, 3),
    valueBool: true,
    arrayInt: [1, 2, 3],
    arrayFloat: [1.1, 2.2, 3.3],
    valueStrongVector3: Vector3(1, 2, 3),
)